body {
    background-color: #202124;
}

.welcome:hover {
    background: darkcyan;
    color: darkcyan;
}
table {
    width: 100%;
}

tr,
td,
th {
    border: 1px solid #304144;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}
.table-cell {
    text-decoration: none;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

h1 {
    text-align: center;
    color: whitesmoke;
}
.form {
    display: inline-grid;
    justify-content: center;
}
.form-container {
    display: grid;
    text-align: center;
}
.btn-submit {
    color: black;
    font-size: 20px;
    border: 0px;
    height: 40px;
    width: 170px;
    transition: 2s;
    margin-top: 10px;
}
.btn-submit:hover {
    background-color: darkgray;
    border-radius: 25px;
    transition: 1s;
}
.button {
    display: inline-grid;
    justify-content: center;
}
.input-box {
    width: 100%;
    border-radius: 25px;
    text-align: center;
}
.label {
    font-size: 25px;
    display: inline-grid;
    color: whitesmoke;
}
.product {
    text-align: center;
}

.navbar {
    cursor: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #303134;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 50px;
}
.nav-item {
    font-size: 25px;
    margin: 15px;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.nav-item:hover {
    background-color: gray;
}
.nav-ratio:checked ~ .nav-item {
    background-color: red;
}
.nav-ratio {
    display: none;
}
.nav-link {
    padding: 5px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.input-search {
    width: 50%;
    border: 0px solid;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.3s;
}
.input-search:focus ~ .button-search {
    border: gray solid 5px;
    transition-duration: 0.3s;
    border-left: none;
}
.input-search:focus {
    outline: none;
    border: gray solid 5px;
    border-right: none;
    transition-duration: 0.3s;
}
.button-search {
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightblue;
    transition-duration: 0.3s;
    border: 0px solid;
}
.button-search:hover {
    background-color: lime;
    transition-duration: 0.3s;
}

.pagination-container {
    text-align: center;
    margin-top: 50px;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 25px;
    background-color: #303134;
    border: #303134 solid 0.5px;
    border-radius: 2px;
}
.page-item:hover {
    opacity: 60%;
}
.page-link {
    color: whitesmoke;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.disabled {
    pointer-events: none;
    color: gray;
    opacity: 0.6;
}
.current {
    background-color: lightblue;
    color: black;
}

.products {
    display: fex;
    background-color: gray;
    width: 99%;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
}
.product-item {
    display: inline-flex;
    width: 32%;
    text-align: center;
    margin: 5px;
}
.product-show {
    margin: 5px;
}
.product-test {
    width: 100%;
    border-radius: 25px;
    background-color: darkgray;
    text-align: center;
}
.product-test:hover {
    transition-duration: 1s;
    box-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}
