#header {
    background: rgba(100, 100, 100, 0.5);
}

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
.main-content {
    transition: all 0.5s;
}
.col-left {
    width: 70%;
}
.toggle-right-btn {
    cursor: pointer;
    position: fixed;
    font-size: 30px;
    right: 25%;
    transition: all 0.5s;
}
.side-content {
    position: fixed;
    right: -75%;
    transition: all 0.5s;
}
.col-hiden {
    right: -100%;
}
.move-right-btn {
    right: 0%;
}
@media (max-width: 800px) {
    .col-left {
        width: 100%;
    }
    .side-content {
        position: fixed;
        right: -45%;
        transition: all 0.5s;
    }
    .col-hiden {
        right: -100%;
    }
    .toggle-right-btn {
        right: 45%;
    }
    .move-right-btn {
        right: 1%;
    }
}
